body {
  background-color: lightgrey;
}

.navigation {
  background-color: black;
  overflow: hidden;
  top: 0;
  width: 100%;
  position: fixed;
}

.navigation a {
  float: left;
  color: lightgrey;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
  text-decoration: none;
}

.navigation a:hover {
  background-color: lightgrey;
  color: black;
}

.navigation a.active {
  background-color : lightblue;
  color : black;
}

.exercises {
  text-align: center;
  padding: 10%;
  line-height: 100px;
}

.exercises button, .input_button {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  border-radius: 8px;
}

.title {
    line-height : 150px;
    text-align: center;
    color: blue;
}

#store_img {
   height: 500px;
   width: 650px;
}

#image_div {
  float:left;
  text-align : center;
  padding-left : 10%;
}

h2 {
  text-align: center;
}

.store_btn {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  border-radius: 5px;
}

#ordering {
  float : right;
  text-align: left;
  padding-right: 10%;
  line-height: 2.5;
}

#receipt {
  text-align: center;
}

#receipt_table {
  margin-left : auto;
  margin-right : auto;
  width : 50%;
  border : 2px solid;
  border-color: black;
}

#receipt_table th, td {
  padding : 5px;
  text-align: left;
}

#receipt_table th {
  background-color : lightblue;
}

#receipt_table td {
  background-color : white;
}
